*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
composer.lock
whatsapp-server/tmp
whatsapp-server/patches
whatsapp-server/node_modules
whatsapp-server/_IGNORE_cauchos-alfa
whatsapp-server/chrome-win
